<div class="todoList">
<form action="">
<h2><strong><%= todo.todo_item %></strong> <input type="checkbox"></h2>
<br>
  <div id="options">
  <%= link_to "Show", todo if action_name == "index" %> 
  <%= link_to "Edit", edit_todo_path(todo) %>
  <%= link_to "Delete", todo_path(todo), method: :delete, data: { confirm: "Are you sure?" } %>
  </div>
</form><br>
</div>